<div class="navbar">
  <!-- Company logo -->

  <div class="logo">
    <img
      src="https://cdn.tgdd.vn/Files/2016/08/07/870935/pokeball.jpg"
      alt="Logo"
      id="logo"
    />
  </div>

  <!-- Navigation links -->
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Pokédex</a></li>
    <li><a href="#">Management</a></li>
  </ul>
  <!-- Language selection -->

  <div class="language">
    <button type="button" *ngIf="!userAuthenticated" (click)="goToLogin()">
      Sign in
    </button>
    <button type="button" *ngIf="userAuthenticated" (click)="goToLogin()">
      Logout
    </button>
    <!-- <div class="languageTitle">
      <i class="fas fa-globe"></i>
      <select>
        <option value="vi">VI</option>
        <option value="en">EN</option>
      </select>
    </div> -->
  </div>
</div>
