<div class="navbar">
  <!-- Company logo -->
  <div class="logo">
    <img src="../assets/logo.png" alt="Logo" id="logo" />
  </div>

  <!-- Navigation links -->
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Pokédex</a></li>
    <li><a href="#">Management</a></li>
  </ul>
  <!-- Language selection -->

  <div class="language">
    <button size="s" tuiButton type="button">Đăng nhập</button>
    <div class="languageTitle">
      <i class="fas fa-globe"></i>
      <select>
        <option value="vi">VI</option>
        <option value="en">EN</option>
      </select>
    </div>
  </div>
</div>
