<div class="footer">
  <div class="wrap">
    <div class="col">
      <!-- Company logo and description -->
      <div class="subLogo">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpMeSsG6PiiTmLZ7k5sgOy1zAQgA6LodN1gg&s"
          alt=""
        />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Varius nisi amet nullam id. Eu
        odio et cras nisi eu congue faucibus sit. Pretium proin dignissim
      </p>
      <!-- Subscription form -->
      <div class="email">
        <b>Đăng ký nhận thông tin</b>
        <div class="signup-box">
          <form>
            <div class="user-box">
              <input type="text" name="" required="" />

              <label> <i class="far fa-envelope"></i> Nhập email của bạn</label>
              <button type="submit" class="btn" aria-label="submit">
                <span>Đăng ký ngay</span>
                <i class="far fa-hand-pointer"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="subCol">
      <div class="col" id="information">
        <h3>Công ty</h3>
        <ul>
          <li>Về chúng tôi</li>
          <li>Service</li>
        </ul>
      </div>
      <div class="col" id="service">
        <h3>Pokemon</h3>
        <ul>
          <li>Fire</li>
          <li>Lengend</li>
          <li>Dragon</li>
        </ul>
      </div>
      <div class="col" id="contact">
        <h3>Liên hệ</h3>
        <ul>
          <li class="iconText">
            <i class="fas fa-phone-alt"></i>
            <div>
              <b>+84 124.567.8888</b>
            </div>
          </li>
          <li class="iconText">
            <i class="far fa-envelope"></i>
            <b>lorem&#64;gmail.com</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="plus">
    <p>All rights reserved.</p>
    <div class="social">
      <i class="fab fa-facebook" style="color: #1877f7"></i>
      <i class="fab fa-youtube" style="color: red"></i>
      <i class="fab fa-tiktok"></i>
    </div>
  </div>
</div>
