/* You can add global styles to this file, and also import other style files */
:root {
  --tui-heading-font: "Noto Sans", sans-serif;
  --tui-text-font: "Noto Sans", sans-serif;
  --primary-color: #283248; /* Màu chủ đạo */
  --secondary-color: #f14b23;
  --primary-text-color: #283248; /* Màu chữ */
  --secondary-text-color: #fafafa;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
